<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/27f832f48b.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
  
    <header>
            <div class="top-header">
                <div class="logo"> 
                    <a href="/"><img src="img/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                </div>

                <form class="form" action="" method="GET">
                    <input type="search" placeholder="Buscar productos,marcas" class="search"/>  
                    <button class="search_button"><i class="fas fa-search"></i></button>
                </form>

                <h4><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
            </div>
        
    
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
                                                
            <nav class="navbar">

                <ul type="none" class="menu_nav">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                
                                
                    <ul type="none" class= "login">

                        <li><a href="/registro">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>

                    </ul>    
                
            </nav>  

            
                
    </header>
  
   <div class="container_register">
    <form class ="form_register" action="" method="POST">
        <h2 class="title_register">Registrate</h2>
        <input class="style_input" type="text" name = "Nombre" placeholder="Nombre y Apellido" required maxlength="45">
        <input class="style_input" type="text" name = "Usuario" placeholder="Nombre de usuario" required maxlength="45">
        <input class="style_input" type="text" name = "Email" placeholder="E-mail" required><span class= "feedback"></span>
        <label class="style_label style_bold" for="">Fecha de Nacimiento</label> <br>
        <input class="style_input" type="date" name="Fecha Nacimiento" value ="date_nac" required>
        <input class="style_input" type="text" name = "Domicilio" placeholder="Domicilio" required maxlength="45">
        <input class="style_input" type="text" name = "Telefono" placeholder="Teléfono" required maxlength="45">

        <div class="perfil_usuario">
            <label class="style_label style_bold" for="perfil">Perfil del usuario</label><br>

            <label class="style_label" for="perfilComprador"><input class="style_radio" type="radio" id="perfilComprador" name="perfil" value ="Comprador">Comprador</label>

            <label class="style_label" for="perfilVendedor"><input class="style_radio" type="radio" id="perfilComprador" name="perfil" value ="Vendedor">Vendedor</label>
            
        </div>
        
       <div>
            <label class="style_label style_bold" for="Intereses">Intereses</label><br>
            <label class="style_label" for=""><input type="checkbox" name="Intereses" value ="Electro">Electro</label><br>
            <label class="style_label" for=""><input type="checkbox" name="Intereses" value ="Electro">Moda</label><br>
            <label class="style_label" for=""><input type="checkbox" name="Intereses" value ="Electro">Hogar</label><br>
            <label class="style_label" for=""><input type="checkbox" name="Intereses" value ="Electro">Juguetería</label><br>
            <label class="style_label" for=""><input type="checkbox" name="Intereses" value ="Electro">Vida Sana</label><br> 
            <br>
        
       </div>
        
       <div>
            <label class="style_label style_bold" for="perfil"> Seleccionar imagen para el perfil</label>
            <input class="style_input" type="file" name = "avatar" accept=".jpg,.png">
        </div>
        
        
        <div>
            <input class="style_input" type="password" name = "Contraseña" placeholder="Contraseña" required maxlength="45">
            <input class="style_input" type="password" name = "Conraseña" placeholder="Confirmar Contraseña" required maxlength="45">
        </div>
        
       
        <button id="btn_reset" type="reset">Borrar Datos</button>
        <button id="btn_enviar" type="submit">Crear Cuenta</button>  
        
    </form>
   </div>  
    

    
<footer>
    <div class="footer">
        <div class="footer-text">
            <div class="icons-footer"><i class="fas fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="footer-text">
            <div class="icons-footer"><i class="fas fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p> 
        </div>
        
        <div class="footer-text">
            <div class="icons-footer"><i class="fas fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

    </div>
    <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
   
</footer>
</body>
</html>