*{
    margin: 0 px ;
    padding: 0 px ;
    box-sizing: border-box ;
    font-family: 'Roboto', sans-serif;
    }

body{
    background-color: #ebebeb;
   
 }

main{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.form_login{
    width: 90%;
    background: #ebebeb;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: none;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.input_login{
    text-indent: 15px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 15px;
    height: 60px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 12px;
    border: none;
    background: #fff;
    border-radius: 8px;
}

.title_login{
    color:#141414;
    text-align: center;
    margin: 0;
    font-size: 25px;
    margin-bottom: 25px; 
 }


 .ca_label{
    font-size: 16px;
 }

 .btn_login{
    text-align: center;
    background:#1259c3;;
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
    
}

.btn_login{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 18px;
}

.btn_login:hover{
    background-color:#0022AA;
    font-size: 22px;
   
}

/*VERSION TABLETS*/
@media (min-width: 768px) {

    .form_login{
        width: 60%;}
    

}


/*VERSION DESKTOP*/
@media (min-width: 1024px) {

    .form_login{
        width: 30%;}
    

}